html,
body {
    width: 100%;
}
body {
    height: 100%;
}
.wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/3.jpg) no-repeat;
    background-size: 100%;
    background-color: #0a1845;
    z-index: 1;
}

.btn-shadow {
    -moz-box-shadow: inset 0 0 20px #fff;
    -webkit-box-shadow: inset 0 0 20px #fff;
    box-shadow: inset 0 0 20px #fff;
    background: #fde14d;
    border-radius: .12rem;
}

.mb3 {
    margin-bottom: 3rem;
}

/* 首页start */
.index .big-logo {
    padding-top: 1rem;
}

.index-btns {
    margin-top: 1rem;
    text-align: center;
}

.index-btns a,
.index-btns button {
    display: inline-block;
    width: 2.9rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-size: .34rem;
    color: #0f4a7c;
}

.index-btns button {
    margin-left: .2rem;
}

.rule-modal, .character-desc, .award {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 10;
}
.rule-content-box {
    width: 100%;
    height: 8.98rem;
    margin-top: 1.5rem;
    background: url(../images/4.png) no-repeat .6rem top;
    background-size: 5.99rem 8.98rem;
}

.rule-content {
    width: 4.99rem;
    height: 7.53rem;
    margin: 0 auto;
    padding: 1.45rem .65rem 1.4rem 1rem;
    position: relative;
}

.rule-content > img {
    width: .36rem;
    height: .36rem;
    position: absolute;
    right: .8rem;
    top: 1rem;
}

.rule-content h3 {
    text-align: center;
    font-size: .34rem;
    color: #fefefe;
    position: relative;
    left: .06rem;
    bottom: .02rem;
    margin-bottom: .4rem;
}

.rule-content li {
    font-size: .24rem;
    color: #feffff;
}

/* 首页end */

/* 登录页start */
.big-logo {
    text-align: center;
    padding-top: .2rem;
}

.big-logo img {
    width: 7.1rem;
}

.login-form {
    text-align: center;
}

.login-form input {
    height: 1rem;
    font-size: .31rem;
    border: 0;
    padding-left: .2rem;
    border-radius: .12rem;
    background: #fff;
}

.login-form>input {
    width: 6.2rem;
}

.check-code-area {
    margin-top: .2rem;
}

.check-code-area input {
    width: 4rem;
}

.check-code-area a {
    display: inline-block;
    width: 2rem;
    height: 1rem;
    font-size: .3rem;
    color: #0f4a7c;
    text-align: center;
    line-height: 1rem;
}

.pay-btn {
    display: block;
    width: 6.4rem;
    height: 1rem;
    font-size: .38rem;
    border: 0;
    color: #0f4a7c;
    margin: .2rem auto;
    line-height: 1rem;
}

/* 登录页end */
footer {
    width: 100%;
}

footer img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}

/* 制作月饼页面 start*/
.make-page .logo img {
    width: 5.79rem;
    height: 4.96rem;
    margin-left: 1rem;
}

.product-area {
    margin-top: -1rem;
    position: relative;
    z-index: 1000;
}

.product-tip {
    width: 100%;
    height: 1.36rem;
    font-size: .3rem;
    line-height: 1.36rem;
    color: #164f7f;
    background: url(../images/25.png) no-repeat .9rem center;
    background-size: 6.3rem 1.36rem;
    text-align: center;
    font-weight: normal;
}

.product-tip span {
    color: #e57e00;
}

.product-operation {
    margin-top: .4rem;
}

.product-operation ul {
    display: flex;
    justify-content: space-around;
    padding: 0 .3rem 0 .5rem;
    flex-wrap: wrap;
    align-items: center;
}

.product-operation ul li {
    width: 1.96rem;
    height: 1.52rem;
    float: left;
    text-align: center;
    position: relative;
    background: url(../images/17.png) no-repeat;
    background-size: 100%;
    padding-top: .25rem;
    margin-top: .2rem;
}
.product-operation ul li:nth-child(2) {
    margin-left: .2rem;
    margin-right: .2rem;
}
.product-operation ul li.mold-box {
    background-image: none;
    padding-top: 0;
}

.product-operation ul li .stuffing {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}
.product-operation ul li div.cake-mold {
    z-index: 10;
}

.product-operation ul li img {
    height: .73rem;
}
.product-operation ul li div.cake-mold img {
    height: 2rem;
    position: absolute;
    top: -.2rem;
}
.product-operation ul li div.cake-mold img:nth-child(1) {
    left: -.8rem;
}
.product-operation ul li div.cake-mold img:nth-child(2) {
    right: -.8rem;
}
.product-operation ul li div.cake-mold img:nth-child(3) {
    height: .44rem;
    left: 50%;
    transform: translateX(-50%);
    top: 1.3rem;
}
.product-operation ul li p {
    font-size: .28rem;
    color: #1d5483;
    margin-top: .7rem;
}
.cook-btn {
    margin-top: .4rem;
    text-align: center;
    margin-bottom: 1rem;
}
.cook-btn button {
    font-size: .34rem;
    color: #0f4a7c;
    padding: .1rem .3rem;
}
.cook-btn button + button {
    margin-left: 1rem;
}
/* 制作月饼页面 end */

/* 制作结果页面start */
.result {
    margin-top: -.3rem;
}
.cook-result-logo img {
    width: 4.5rem;
}
.moon-cake {
    text-align: center;
}
.moon-cake img {
    width: 3.7rem;
    height: 3.7rem;
}
.result-btn {
    text-align: center;
    margin-top: .6rem;
}
.result-btn a {
    display: inline-block;
    width: 2.9rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-size: .34rem;
    color: #0f4a7c;
}
.result-btn a + a {
    margin-left: 0.2rem;
}
.result-operate-desc {
    margin-top: 0.5rem;
}
.result-operate-desc h3 {
    position: relative;
    text-align: center;
}
.result-operate-desc h3 span {
    font-size: .28rem;
    color: #fff;
}
.result-operate-desc h3 span:before, .result-operate-desc h3 span:after {
    content:'';
    width: .28rem;
    height: .26rem;
    background-image: url(../images/9.png);
    background-size: .28rem .26rem;
    position: absolute;
    z-index: 100;
    top: 5px;
}
.result-operate-desc h3 span:before {
    left: 2.8rem;
}
 .result-operate-desc h3 span:after {
    left: 4.44rem;
 }
/* 制作结果页面end */

/* 月饼赠送页面start */
.change, .houyi, .wugang {
    text-align: center;
}
.change img {
    width: 1.85rem;
    height: 2.2rem;
    margin-top: -.5rem;
}
.character span, .houyi span, .wugang span {
    display: block;
    width: 1.85rem;
    height: .5rem;
    font-size: .24rem;
    color: #0f4a7c;
    text-align: center;
    letter-spacing: .4rem;
    padding-left: .4rem;
    margin: 0 auto;
    margin-top: -.2rem;
}
.two-men {
    height: 3.7rem;
    position: relative;
    margin-bottom: 2.4rem;
    z-index: 100;
}
.houyi {
    width: 2.5rem;
    height: 2.6rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: .2rem;
}
.houyi img {
    width: 1.74rem;
    height: 2.16rem;
}
.houyi span {
    width: 1.74rem;
}
.gift-cake {
    width: 2.4rem;
    height: 2.4rem;
    margin: .2rem auto;
}
.gift-cake img {
    width: 100%;
    height: 100%;
}
.wugang {
    width: 2.58rem;
    height: 2.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: .1rem;
}
.wugang img {
    width: 2.2rem;
    height: 2.3rem;
}
.wugang span {
    width: 1.8rem;
}
/* 月饼赠送页面end */

/* 人物介绍 start */
.character-desc-content-box {
    width: 100%;
    height: 9.98rem;
    margin-top: 1.5rem;
    background: url(../images/4.png) no-repeat .6rem top;
    background-size: 5.99rem 9.98rem;
}
.character-desc-content {
    width: 5.5rem;
    height: 7.53rem;
    margin: 0 auto;
    position: relative;
    padding-top: 1.65rem;
}
.character-desc-content > img {
    width: .36rem;
    height: .36rem;
    position: absolute;
    right: .2rem;
    top: 1rem;
}

.character-desc-content h3 {
    text-align: center;
    font-size: .34rem;
    color: #fefefe;
    position: relative;
    left: .06rem;
    bottom: .02rem;
    margin-bottom: .4rem;
}
.character-desc .desc-content {
    width: 100%;
}
.character-desc .desc-content img {
    width: 2.4rem;
    margin-top: 1rem;
}
.character-desc .desc-content p {
    width: 3rem;
    float: right;
    font-size: .24rem;
    color: #fff;
}
/* 人物介绍 end */

/* 获奖情况 start */
.award {
    display: block;
}
.award-bg {
    width: 6.49rem;
    height: 7.25rem;
    margin: 2.5rem auto 0;
    background: url(../images/8.png) no-repeat;
    background-size: 100%;
    position: relative;
    padding-top: 1rem;
}
.award-bg .cake-icon {
    width: 2.36rem;
    height: 2.02rem;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
}
.close-award-modal {
    width: .36rem;
    height: .36rem;
    position: absolute;
    right: .3rem;
    top: 0.3rem;
}
.award-bg h3 {
    width: 5rem;
    text-align: center;
    font-size: .34rem;
    color: #fefefe;
    position: relative;
    left: .06rem;
    bottom: .02rem;
    margin: 0 auto;
    margin-bottom: .4rem;
}
.award-mid img {
    width: 2.4rem;
    float: left;
}
.award-mid .award-text {
    padding-top: .5rem;
}
.award-mid .award-text h4 {
    font-size: .34rem;
    color: #fefefe;
    margin-bottom: .4rem;
}
.award-mid .award-text p {
    font-size: .24rem;
    color: #fefefe;
    margin-bottom: .4rem;
}
/* 获奖情况 end */


/* 活动尚未开启,活动已结束start */
.activity-status-sign {
    text-align: center;
}

.activity-status-sign img {
    width: 5.29rem;
}
/* 活动尚未开启,活动已结束end */