html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/3.jpg) no-repeat;
    background-size: 100%;
}
.btn-shadow {
    -moz-box-shadow: inset 0 0 20px #fff; 
    -webkit-box-shadow: inset 0 0 20px #fff; 
    box-shadow: inset 0 0 20px #fff;
    background: #fde14d;
    border-radius: .12rem;
}

/* 首页start */
.index .big-logo {
    padding-top: 1rem;
}
.index-btns {
    margin-top: 1rem;
    text-align: center;
}
.index-btns a, .index-btns button {
    display: inline-block;
    width: 2.9rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-size: .34rem;
    color: #0f4a7c;
}
.index-btns button {
    margin-left: .2rem;
}
.rule-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 10;
}
.rule-content-box {
    width: 100%;
    height: 8.98rem;
    margin-top: 1.5rem;
    background: url(../images/4.png) no-repeat center top;
    background-size: 5.99rem 8.98rem;
}
.rule-content {
    width: 4.99rem;
    height: 7.53rem;
    margin: 0 auto;
    padding: 1.45rem .65rem 1.4rem 1rem;
    position: relative;
}
.rule-content img {
    width: .36rem;
    height: .36rem;
    position: absolute;
    right: .6rem;
    top: 1rem; 
}
.rule-content h3 {
    text-align: center;
    font-size: .34rem;
    color: #fefefe;
    position: relative;
    left: .06rem;
    bottom: .02rem;
    margin-bottom: .4rem;
}
.rule-content li {
    font-size: .24rem;
    color: #feffff;
}
/* 首页end */

/* 登录页start */
.big-logo {
    text-align: center;
    padding-top: .2rem;
}

.big-logo img {
    width: 7.1rem;
    height: 6.7rem;
}

.login-form {
    text-align: center;
}

.login-form input {
    height: 1rem;
    font-size: .31rem;
    border: 0;
    padding-left: .2rem;
    border-radius: .12rem;
    background: #fff;
}

.login-form>input {
    width: 6.2rem;
}

.check-code-area {
    margin-top: .2rem;
}
.check-code-area input {
    width: 4rem;
}

.check-code-area a {
    display: inline-block;
    width: 2rem;
    height: 1rem;
    font-size: .3rem;
    color: #0f4a7c;
    text-align: center;
    line-height: 1rem;
}
.pay-btn {
    display: block;
    width: 6.4rem;
    height: 1rem;
    font-size: .38rem;
    border: 0;
    color: #0f4a7c;
    margin: .2rem auto;
    line-height: 1rem;
}
/* 登录页end */
footer {
    width: 100%;
}
footer img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}