<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>月饼制作页面</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <div class="wrap">
        <section class="logo big-logo cook-result-logo">
            <img src="../images/1.png" alt="">
        </section>
        <section class="result gift-select">
            <div class="change character">
                <img src="../images/12.png" alt="">
                <span class="btn-shadow select-btn" data-name="嫦娥奔月">嫦娥</span>
            </div>
            <div class="two-men">
                <div class="houyi character">
                    <img src="../images/13.png" alt="">
                    <span class="btn-shadow select-btn" data-name="后羿造饼">后羿</span>
                </div>
                <div class="gift-cake">
                    <img src="../images/40.png" alt="">
                </div>
                <div class="wugang character">
                    <img src="../images/11.png" alt="">
                    <span class="btn-shadow select-btn" data-name="吴刚伐桂">吴刚</span>
                </div>
            </div>
        </section>
        <footer>
            <img src="../images/2.png" alt="">
        </footer>
    </div>
    <div class="character-desc"></div>
    <div class="award">
        <div class="award-bg">
            <img src="../images/10.png" class="cake-icon" alt="">
            <h3>嗯嗯嗯，这么好吃再给我一个，我要拿给嫦娥吃。</h3>
            <div class="award-mid">
                <img src="../images/11.png" alt="">
                <div class="award-text">
                    <h4>恭喜您获得xxxx奖品</h4>
                    <p>话费稍后会直接充值到您预留<br/>的手机号上，请注意查收。</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/gift.js"></script>
</html>