<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>月饼制作页面</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <div class="wrap make-page">
        <section class="logo big-logo">
            <img src="../images/24.png" alt="">
        </section>
        <section class="product-area">
            <h3 class="product-tip">
                请在将<span>两种馅料</span>组合放入<span>月饼模具</span>内
            </h3>
            <div class="product-operation">
                <ul class="clearfix product-box">
                    <li>
                        <div class="stuffing">
                            <img src="../images/23.png" alt="">
                            <p>红豆</p>
                        </div>
                    </li>
                    <li>
                        <div class="stuffing">
                            <img src="../images/16.png" alt="">
                            <p>蛋黄</p>
                        </div>
                    </li>
                    <li>
                        <div class="stuffing">
                            <img src="../images/22.png" alt="">
                            <p>花生</p>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix product-box">
                    <li>
                        <div class="stuffing">
                            <img src="../images/49.png" alt="">
                            <p>芝麻</p>
                        </div>
                    </li>
                    <li class="mold-box">
                        <div class="stuffing cake-mold" id="cake-mold">
                        </div>
                    </li>
                    <li>
                        <div class="stuffing">
                            <img src="../images/18.png" alt="">
                            <p>红枣</p>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix product-box">
                    <li>
                        <div class="stuffing">
                            <img src="../images/21.png" alt="">
                            <p>鲜肉</p>
                        </div>
                    </li>
                    <li>
                        <div class="stuffing">
                            <img src="../images/20.png" alt="">
                            <p>板栗</p>
                        </div>
                    </li>
                    <li>
                        <div class="stuffing">
                            <img src="../images/19.png" alt="">
                            <p>韭菜</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cook-btn">
                <button class="btn-shadow">开始烘焙</button>
            </div>
        </section>
        <footer>
            <img src="../images/2.png" alt="">
        </footer>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/makeCake.js"></script>

</html>